.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 3rem;    
}

.native-file-input {
    display: none;
}

.file-name{
    padding-right: 0.5rem;
}

.error-message {
    color: red;
    text-align: center;
}